@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
}

p,
span {
  color: #090934;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #090934;
}

@layer utilities {
  li {
    @apply text-[#090934] hover:underline hover:text-[#387AA1] mb-2;
  }
  .text-balance {
    text-wrap: balance;
  }
  .hover-facebook {
    @apply group-hover:text-blue-600 text-[#090934];
  }
  .hover-instagram {
    @apply group-hover:text-pink-500 text-[#090934];
  }
  .hover-youtube {
    @apply group-hover:text-red-600 text-[#090934];
  }
  .hover-linkedin {
    @apply group-hover:text-blue-700 text-[#090934];
  }
  .hover-x {
    @apply group-hover:text-sky-700 text-[#090934];
  }
  .hover-whatsapp {
    @apply group-hover:text-green-600 text-[#090934];
  }
  .header-color {
    @apply bg-[#D2E6EF];
  }
  .header-hover-text {
    @apply hover:text-[#387AA1];
  }
  .title-gradient {
    @apply font-bold text-transparent bg-clip-text text-7xl;
    background-image: linear-gradient(to right, #40789b, #1ea1ff);
  }
  .title {
    @apply font-bold text-[#090934] text-4xl;
  }
  .sub-title {
    @apply text-[#387AA1] text-xl;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-10;
  }

  .card {
    @apply border-[#387AA1] border rounded-lg p-6;
  }

  .card-effect {
    @apply card;
    @apply transition-transform duration-300 hover:bg-gray-100 cursor-pointer hover:shadow-lg;
  }

  .input {
    @apply w-full border-2 border-b-gray-200 rounded-md p-3  focus:outline-none focus:border-[#387AA1];
  }

  .btn {
    @apply px-4 py-2 rounded-md border-[2px] w-full;
    font-family: "Montserrat", sans-serif;
  }

  .btn-primary {
    @apply btn;
    @apply bg-[#387AA1] border-[#4AA1D3] hover:bg-[#4AA1D3] text-[white] hover:border-[#387AA1] font-bold;
  }

  .btn-secondary {
    @apply btn;
    @apply bg-[#FFFFFF] hover:bg-[#BCD4E1] border-[#387AA1] text-[#387AA1] font-bold;
  }

  .btn-danger {
    @apply btn;
    @apply bg-[#A13838] hover:bg[#E1BCBC] hover:border-[#A13838] font-bold;
  }
}
