@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/blue-dark.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 248, 255; /* Alice Blue */
  --background-end-rgb: 255, 255, 255;
  --primary-color: 0, 123, 255; /* Blue */
  --secondary-color: 40, 167, 69; /* Green */
  --accent-color: 220, 53, 69; /* Red */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 31, 63; /* Dark Blue */
    --background-end-rgb: 0, 0, 0;
    --primary-color: 0, 123, 255; /* Blue */
    --secondary-color: 40, 167, 69; /* Green */
    --accent-color: 220, 53, 69; /* Red */
  }
}

/* .button {
  background-color: var(--blue-1);
  color: var(--blue-11);
  border-color: var(--blue-7);
}
.button:hover {
  background-color: var(--blue-5);
  border-color: var(--blue-8);
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #090934;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
